<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Breitwieser Project!</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css'
    />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body class="has-background-success-light">
    <div class='is-flex-direction-column is-justify-content-space-between'>
      <header
        class='is-flex is-justify-content-space-between has-background-success'
      >
        <div>
          <h1 class='title has-text-success-dark'>
            Breitwieser Project
          </h1>
          <h4 class='subtitle is-6 has-text-white'>Putting the Price in
            Priceless</h4>
        </div>
        <nav>
          {{#if logged_in}}
            <button class='button is-link' id='profile'>"My" Art</button>
            <button class='button is-link' id='logout'>logout</button>
          {{else}}
            <button class='button is-link' id='login'>logout</button>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer></footer>
    </div>

    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>
</html>