<div class="card has-text-centered">
  <img src="https://unsplash.it/600/400" />
  <h2>{{Product.product_name}}</h2>
  <br />
  <p>{{Product.product_desc}}</p>
  <br />
  <p>Posted by {{user.name}} on {{format_date date_created}}</p>
  <br />
  <p>
    The price of this "aquired" art piece is
    <span class="is-size-2">{{Product.price}}</span>.
  </p>
  <br />
  <p>The Heat level of this art piece is {{Heat.heat_name}} level.</p>
  <br />
  <br />
  <br />
  <p>
    Click <button class="button is-link" href="/checkout">HERE</button> to take
    this art with you TODAY!
  </p>
</div>
