<div>
  <div>
    <h3>New art "acquired" for sale:</h3>

    <form>
      <div>
        <label for="project-name">Name of the painting:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div>
        <label for="project-funding">Price:</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div>
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div>
        <label for="image-link">link to a picture of the artwork:</label>
        <textarea class="form-input" id="image-link" name="image-link"></textarea>
      </div>

      <div>
        <button type="submit">Create</button>
      </div>
    </form>
  </div>