<div class="columns mt-5 has-background-success-light has-text-centered">
  <div class="column ml-5">
    <h2 class="title has-text-success-dark">Payment Page</h2>

    <br />
    <br />
    <br />
    <form class="form payment field">
      <div class="field">
        <label class="label has-text-success" for="card-name"
          >Card Holder Name
        </label>
        <input class="form-input" type="text" required id="card-name" />
      </div>
      <div class="field">
        <label class="label has-text-success" for="card-number"
          >Card Number
        </label>
        <input class="form-input" type="number" required id="card-number" />
      </div>
      <div class="field">
        <label class="label has-text-success" for="card-expire"
          >Expiration Date
        </label>
        <input class="form-input" type="number" required id="card-expire" />
      </div>
      <div class="field">
        <label class="label has-text-success" for="card-cvv2">CVV2</label>
        <input class="form-input" type="number" required id="card-cvv2" />
      </div>
      <div class="field">
        <label class="label has-text-success" for="card-zip">ZIP code</label>
        <input class="form-input" type="number" required id="card-zip" />
      </div>
      <br />
      <br />
      <div class="field">
        <button class="btn button is-link" type="submit">Submit Payment</button>
      </div>
    </form>
  </div>
</div>
