{{!-- needs top level formatting --}}
<div class="is-flex-direction-row has-text-success-dark">
  <div>
    <h2>{{name}}'s totally legitimate art dealings </h2>
  </div>
{{!-- needs to generate works this user has put up for sale --}}
  {{#if projects.length}}
    <div class="has-text-success-dark">
      <h3>Current works for sale:</h3>

      {{#each projects as |project|}}
        <div class="is-flex-direction-column">
          <h4><a href='{{project.id}}'>{{project.name}}</a></h4>
        </div>
        <div>
          <button class="button is-link" data-id='{{project.id}}'>I'm keeping it</button>
        </div>
      {{/each}}
    </div>
  {{/if}}
{{!-- need to see if showing transaction history is possible --}}
  <div>
    <h3>Amount sold:</h3>
  </div>
{{!-- button to go to posting art page --}}
<div>
  <button class="button is-link" type="submit">Add art for sale</button>
</div>

</div>
<script src='./js/profile.js'></script>